<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">Current Projects</label>
    <input id="n" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Create Project</button>
</form>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>
