<h2>Current Projects:</h2>

<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="/projects/<%= project.id %>"><%= project.title %></a></li>
  <% end %>
</ul>
<% else %>
<p>There are currently no projects to display.</p>
<% end %>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="title">To create a project, enter a new project title:</label>
    <input id="n" name="title" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Create Project</button>
</form>
